certify
charset-normalizer
click
dbus-python
decorator
evdev
future
geocoder
gTTS
idna
keyboard
MouseInfo
newsapi-python
pillow
playsound
psutil
PyAudio
PyAutoGUI
pycairo
pydub
PyGetWindow
PyGObject
PyMsgBox
pynput
pyperclip
PyRect
PyScreeze
python-xlib
python3-xlib
pytweening
ratelim
requests
setuptools
six
SpeechRecognition
tk
ttkbootstrap
typing_extensions
urllib3
wheel
transformers